<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
  <link rel="stylesheet" href="/styles/create/create.css">
</head>
<body>

<header>
  <%- include('../partials/header'); %>
</header>


<main>
  <div class="mainDiv">
    <h1>Створення задачі</h1>
    <form action="" method="post">
      <input type="text" placeholder="Текст завдання" name = "taskText">
      <button type="submit">Додати завдання</button>
    </form>
  </div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>