body {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 60%;
    margin: 0 auto;
}

button:hover {
    cursor: pointer;
}

button {
    border: 0;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
}

ul {
    list-style-type: none;
    padding-inline-start: 0;
}

label {
    margin-left: 10px;
}

.confirmButton {
    background-color: rgb(236, 203, 140);
    height: 40px;
}

select {
    height: 40px;
    width: 100px;
    top: 0;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 10px;
}

select:hover {
    background-color: rgb(240, 240, 240);
    transition: 0.3s ease;
}