<nav class="header">
    <ul class="navbar">
      <li class="navItem">
        <a href="/">Усі задачі</a>
      </li>
      <li class="navItem">
        <a href="/create">Створення нової</a>
      </li>
    </ul>
  </nav>